<nav class="nav navbar navbar-light" style="background-color:#7E57C2;">
    <div class="navbar-brand" style="color:white;">Stock Search</div>  
    <div>
    <ul class="nav navbar-nav navbar-right">
    <li class="nav-item"><a class="nav-link" style="color:white;" href="search">Search</a></li>
    <li class="nav-item"><a class="nav-link" style="color:white;" href="watchlist">Watchlist</a></li>
    <li class="nav-item"><a class="nav-link" style="color:white;" href="portfolio">Portfolio</a></li>
    </ul>
</div>
</nav>